<% content_for :onload do %>
    onload="init();"
<% end %>
<div class="ui grid">
  <div class="two wide cloumn"></div>
  <div class="five wide column">
    <div class="ui vertical menu">
      <div class="header item">
        Admin Panel
      </div> 
      <a href="/posts/new" class="item">
        <i class="write icon"></i> New Post 
      </a> 
      <a href="/posts/new" class="item">
        <i class="comment icon"></i> Comments 
      </a> 
      <a href="/posts/new" class="item">
        <i class="users icon"></i> Users 
      </a> 
      <div class="ui dropdown item">
        Hello
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item"> NEW </a>
        </div>
      </div>
      <div class="ui dropdown">
        <input type="hidden" name="gender">
        <i class="dropdown icon"></i>
        <div class="default text">Gender</div>
        <div class="menu">
          <div class="item" data-value="male">Male</div>
          <div class="item" data-value="female">Female</div>
        </div>
      </div>
    </div> 
  </div>
  <div class="nine wide column">
    <div class="ui pointing menu">
      <a href=# class="active item">All</a>
      <a href=# class="item">Published</a>
      <a href=# class="item">Drafts</a>
      <!--a class="item">
      <i class="sort icon"></i>
      </a-->
      <div class="right menu">

        <div class="item">
          <div class="ui transparent icon input">
            <input type="text" placeholder="Search...">
            <i class="search link icon"></i>
          </div>
        </div>
      </div> 
    </div>
    <div class="ui cards">
      <% @posts.each do |post| %>
        <div class="ui fluid card">
          <div class="content">
            <% if post.published %>
              <%= link_to post.title, post_path(post.id), class: "header" %>
            <% else %>
              <div class="meta">Draft: <%= link_to post.title, post_path(post.id), class: "header" %></div>
            <% end %>
            <div class="meta">
              <em>(#) Comments</em>
            </div>
            <div class="description">
              <p>
              <%= post.preview_body %>
              </p> 
            </div> 
          </div>
          <div class="extra content meta">
            <%= button_to 'Edit Post', edit_post_path(post.id), method: "get", class: "ui button green inverted right floated" %>
            <%= button_to 'Delete Post',
              { action: 'destroy',
                controller: 'posts',
                id: post.id },
                method: :delete,
                data: { confirm: "Delete record from the Database?"} %>
            <i class="database icon"></i> id: <%= post.id %> <br/> 
            <i class="wait icon"></i> <%= post.created_at %> <br/> 
            <i class="retweet icon"></i> <%= post.updated_at %> <br/> 
          </div> 
        </div>
      <% end %>
    </div> 
  </div> 
</div>
<%= link_to 'New Post', new_post_path  %>
