<div class="ui grid">
  <div class="one wide column">
  </div>
  <div class="fourteen wide column">
    <div class="ui form">
      <%= form_for(@post,  html: {class: "ui form"}) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title %>
        </div> 
        <div class="text">
          <%= f.label :pretext %>
          <%= f.text_area :pretext, rows: "5" %>
        </div>
        <div class="text">
          <%= f.label :body %>
          <%= f.text_area :body, rows: "35" %>
        </div> 
        <div class="field">
          <%= f.label :published %>
          <%= f.check_box :published, class: "ui checkbox" %>
        </div>
        <div class="actions">
          <%= f.submit "Save", class: "ui button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

