<div class="ui menu inverted fixed" id="nav"> <!--style="margin-top:10px;"-->
  <%= link_to "fathergoose", root_path, class: "header item" %>
  <%= link_to "posts", posts_path, class: "item" %>
  <%= link_to "about me", "/pages/about", class: "item" %>
  <a class= "item" href="https://github.com/fathergoose">github</a>
  <div class="right menu">
    <% if user_signed_in? && current_user.admin %>
      <%= link_to 'logout', destroy_user_session_path, {:method => :delete, class: "item"} %>
      <%= link_to  :admin,  class: "item" do %>
        <i class="dashboard inverted icon"></i>
      <% end %>
    <% end %>
  </div>
</div>
