<!DOCTYPE html>
<html>
  <head>
    <title>PostOnRails</title>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css">
    <%= csrf_meta_tags %>
  </head>
  <body <%= yield :onload if block_given? %>>

    <%= render "layouts/nav_bar" %>
    <div class='ui container' style="height:50px;"></div>
    <div class="ui container">

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>
  </body>
    <script src="/jquery-2.2.1.min.js"></script>
    <script src="/semantic.min.js"></script>
</html>
